body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8de8a2;
    padding: 8px 24px;
}

.nav-name {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
}

.nav-link{
    font-size: 30px;
    color: black;
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-link li{
    padding: 8px 12px;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 0;
}

.nav-menu a{
  display: inline-block;
  padding: 8px 12px;
}

.nav-menu li a:hover {
    background-color: #FF5FA2;
    border-radius: 5px;
}

.active {
  font-weight: bold;
  background-color: #FCC89B;
  border-radius: 5px;
}

.nav-toggle-menu {
    display: none;
    padding: 4px 12px;
    position: absolute;
    font-size: 24px;
    right: 32px;
}

.nav-toggle-menu-image {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.video {
    width: 100%;
    max-width: 1280px;
    margin: 30px auto;
    border-radius: 30px;
    background-color: #f0f0f0;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 8px 33px #999;
}
   
.video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
}

iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-about{
    display: flex;
    justify-content: space-around;
}

.aside-about{
    width: 100%;
    height: auto;
}

.section-about{
    width: 500px auto;
}

main {
    padding: 8px 24px;
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 8px 12px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
    }

    .nav-toggle-menu {
        display: block;
    }

    .nav-link{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .nav-link.active,
    .nav-menu.active{
        display: flex;
    }
}

@media screen and (min-width: 769px) {
    .nav-menu {
        display: flex !important;
    }

    .aside-about{
        max-width: 40%;
    }
    
    .section-about{
        max-width: 60%;
    }

    .nav-link{
        display: flex !important;
    }
}